<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Victor Stampshop for collectors  </title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
 
  <div id="main">
 
    <header>
      <h1> Victor stampshop </h1>
    <header>
 
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/store/">Store</a></li>
      </ul>
    </nav>
 
    {{ content }}
 
    <footer>
      <p>@copy; Victor stampshop since 2016 | All Rights Reserved. </p>
    </footer>
 
  </div>
</body>
</html>
